{% extends 'base.html.twig' %}


{% block body %}
   <ul class="nav navbar-nav navbar-right">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Offers & Details</th>
      <th scope="col">Total(LKR)</th>
      <th scope="col">Edit Cart</th>
      <th scope="col">If you are done</th>
    </tr>
   </thead>
   <tbody>
    <tr>
      <td><a class="btn btn-primary" href="/Booklist/detailsup">More Info</a></td>
      <td>{{sessioncart.totalPrice}}</td>
      <td><li><a href="/Booklist/edit"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li></td>
      <td><a class="btn btn-default" href="/Booklist/invoice">Check Out</a></td>
    </tr>
   </tbody>
   </table>
    </ul>

	<h2 class="page-header">Cart Details</h2>
	<table class="table table-striped">
   <thead>
      <tr>
         <th>#</th>
         <th>Book Title</th>
         <th>Catogory</th>
         <th>Price</th>
         <th>Quantity</th>
      </tr>
   </thead>
   <tbody>
   	{% for bookdata in booklist %}
      <tr>
         <th scope="row">{{bookdata.book.bookID}}</th>
         <td>{{bookdata.book.name}}</td>
         <td>{{bookdata.book.category}}</td>
         <td>{{bookdata.book.price}}</td>
         
         <td>
         {{ form_start(bookdata.editform) }}
         {{ form_widget(bookdata.editform) }}
         {{ form_end(bookdata.editform) }}

         {{ form_start(bookdata.deleteform) }}
         {{ form_widget(bookdata.deleteform) }}
         {{ form_end(bookdata.deleteform) }}
         </td>


         
      </tr>
      {% endfor %}
   </tbody>
</table>

<a class="btn btn-primary" href="/">Continue Shopping</a>
  <a class="btn btn-primary" href="/Booklist/edit">Back to Cart</a>
<a class="btn btn-primary" href="/Booklist/invoice">Check Out</a>
{% endblock %}